<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.wchang.openMoives.dao.GenreMapper">

    <select id="getByGenre_id" parameterType="Integer" resultType="Genre">
        select
        *
        from
            genre
        where
        genre_id = #{genre_id}
    </select>

    <select id="getAll" resultType="Genre">
        select
        *
        from
            genre
    </select>

    <insert id="insert" parameterType="ca.wchang.openMoives.model.Genre">
        replace into
            genre (genre_id, category_id, category_name)
        values (#{genre_id}, #{category_id}, #{category_name})

    </insert>

    <delete id="deleteByGenreId" parameterType="int">
        delete from genre where genre_id = #{id}
    </delete>

    <delete id="deleteAll"  parameterType="ca.wchang.openMoives.model.Genre">
        delete from genre;
    </delete>

    <select id="getGenreList" resultType="ca.wchang.openMoives.model.GenreDetail">
        select
            title,movie_id, category_name, category_id
        from
            genre
        inner join
            movie_info on movie_info.genre_id = genre.genre_id;
    </select>


</mapper>