<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.wchang.openMoives.dao.Movie_infoMapper">
    <select id="getByTitle" parameterType="String" resultType="Movie_info">
        select
            *
        from
            movie_info
        where
            title = #{title}
    </select>

    <select id="getAll" parameterType="String" resultType="Movie_info">
        select
            *
        from
            movie_info
        order by
            ${_parameter}  desc
    </select>

    <insert id="insert" parameterType="ca.wchang.openMoives.model.Movie_info">
        insert into movie_info
            (title, vote_cnt ,vote_avg, pop, genre_id, poster_path, budget,overview,release_date, movie_id)
        values
            (#{title}, #{vote_cnt}, #{vote_avg}, #{pop},#{genre_id},#{poster_path}, #{budget},#{overview},#{release_date}, #{movie_id})
    </insert>

    <delete id="deleteAll" parameterType="Movie_info">
        delete from movie_info;
    </delete>
    
    <select id="getAllMovieIdList" resultType="Integer">
        select
            movie_id
        from
            movie_info
    </select>
    
    <update id="updateBudgetAndRevenue"  parameterType="ca.wchang.openMoives.model.Movie_info">
        update movie_info set
            budget = #{budget},
            revenue = #{revenue}
        where
            movie_id = #{movie_id}
    </update>
</mapper>